@{
    var returnUrl = ViewBag.returnUrl;
    if (String.IsNullOrEmpty(returnUrl))
        returnUrl = "/Order/OrdersList";
}



<div class="modal-dialog modal-dialog-centered" style="margin-top: 106px;">
    <div class="modal-header">
        <h3 class="modal-title" style="color:#fff">Are you sure you want to leave?</h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">No</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
    </div>
</div>