@model List<TrialFreelance.ViewModels.OrderSolutionViewModel>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>
    .item {
        width: 90%;
        justify-content: center;
        background-color: #ebebf0;
        min-height: 60px;
        margin: 10px;
    }

    .name {
        height: 50px;
        float: left;
        background-color: #d5d5de;
        border-radius: 5px;
        padding: 5px;
    }

    .link {
        float: left;
        background-color: #d5d5de;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
    }

    .mybtn {
        float: left;
        background-color: #d5d5de;
        border-radius: 5px;
        margin: 5px;
    }
</style>

@if (@Model != null)
{
    <div class="accordion" id="accordionExample">
        @foreach (var sol in Model)
        {
        <div class="accordion-item">
            <h2 class="accordion-header">
                    <a style="width:700px" href="@sol.GitHubLink">@sol.GitHubLink</a>
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    @sol.CreatorUserName
                </button>
            </h2>
                @if (ViewBag.Role == "Admin")
                {
                    <div class="mybtn"><a href="/Solution/EditSolution/@sol.Id">Edit</a></div>
                    <div class="mybtn"><a href="/Solution/DeleteSolution/@sol.Id">Delete</a></div>
                }
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @sol.Description
                </div>
            </div>
        </div>
        }
    </div>

}
else
{

    <div class="item">
        <h2> Ще не створено рішень </h2>
    </div>
}

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
