@model List<TrialFreelance.ViewModels.OrderSolutionViewModel>


<head>
    <link rel="stylesheet" href="/css/solution_style.css" type="text/css" />
</head>
<div class="main_field">
    @if (@Model.Any())
    {
        <div class="accordion">

            @foreach (var sol in Model)
            {
                <div class="contentBx">
                    <div class="label">Order #@sol.Id<a href="@sol.GitHubLink" style="margin-left:20px;">@sol.GitHubLink</a></div>
                    <div class="content">
                        <p>@sol.Description</p>

                        <div class="d-flex flex-row-reverse">
                            @if (ViewBag.Role == "Admin")
                            {
                                <div class="btn btn-danger"><a href="/Solution/DeleteSolution/@sol.Id">Delete</a></div>
                                <div class="btn btn-warning"><a href="/Solution/EditSolution/@sol.Id">Edit</a></div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {

        <div style="margin: 50px;color: #FFF;">
            <h2> Ще не створено рішень </h2>
        </div>
    }
    <script src="/js/solution_script.js"></script>
   </div>