<link rel="stylesheet" href="/css/about_style.css" />
<div class="main_field">
    <h1 class="title">About project</h1>
    <div class="main_content">
        Trials Freelance is a demo version of the freelance platform for students and beginning programmers who want to face real cases and gain relevant experience in the market.
        <br><br>With our product, you can create and execute tasks from various IT companies (from small businesses to large companies looking for promising newcomers).
        <br><br>It should be noted that the task is performed on a voluntary basis. A tip system is possible (the availability and size of which is determined by the customer).
    </div>
    <h1 class="title">Developers</h1>
    <div class="main_content">
        <span style="font-weight: bold; text-decoration: underline;">Фугель Влад</span> - team lead, backend<br>
        <span style="font-weight: bold;">Дем'янюк Даша</span> - frontend, backend<br>
        <span style="font-weight: bold;">Авдейчик Дмитро</span> - design, frontend
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var homeElement = document.getElementById("nav-link-about");
        if (homeElement) 
            homeElement.classList.add("active");
    });
</script>