@{
    Layout = null;
}
@using Microsoft.AspNetCore.Identity
@using TrialFreelance.Entities
@inject SignInManager<DbUser> SignInManager
@inject UserManager<DbUser> userManager
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrialFreelance</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index_style.css" type="text/css" />
</head>

<body>
    <div class="nav_body">
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                         class="bi bi-box-fill" viewBox="0 0 16 18">
                        <path fill-rule="evenodd"
                              d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001 6.971 2.789Zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z" />
                    </svg>
                    TrialFreelnce
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Site/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="OrdersList">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Site/AboutUs">About</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a style="font-weight: bold;" id="nav-link-create" class="nav-link" asp-area="" asp-controller="Order" asp-action="CreateOrder">+Add Order</a>
                            </li>
                        }
                    </ul>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button onclick="location.href='/Message/UserMessages'" type="button"
                                class="btn btn-outline-light position-relative"
                                style="font-weight: bold; margin-right: 100px;">
                            Message
                            @*  <span class="badge bg-secondary">New</span> *@
                        </button>

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-area="" asp-controller="Account" asp-action="ListUsers" class="nav-link link-light
                                        link-underline-opacity-0
                                        link-opacity-75-hover d-flex"
                               style="align-items: center; margin-right: 10px;">
                                Користувачі
                            </a>
                            <a asp-area="" asp-controller="Solution" asp-action="SolutionsList" class="nav-link link-light
                                            link-underline-opacity-0
                                            link-opacity-75-hover d-flex"
                               style="align-items: center; margin-right: 10px;">
                                Рішення
                            </a>
                        }




                        <a href="@Url.Action("Logout", "Account", new { returnUrl = Context.Request.Path })" class=" nav-link link-light
                                        link-underline-opacity-0
                                        link-opacity-75-hover d-flex"
                           style="align-items: center; margin-right: 10px;">
                            Logout
                        </a>


                        <a href="/Account/ManageUser" class="nav-link link-light nav_user
                            link-underline-opacity-0
                            link-opacity-75-hover d-flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                            @{
                                var userName = userManager.GetUserName(User);
                                <span style="padding-top:3px;">@userName</span>
                            }
                        </a>


                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link link-light
                                link-underline-opacity-0
                                link-opacity-75-hover d-flex"
                           style="align-items: center; margin-right: 10px;">
                            Login
                        </a>
                        <a asp-area="" asp-controller="Account" asp-action="Register" class="nav-link link-light
                                link-underline-opacity-0
                                link-opacity-75-hover
                                focus-ring-secondary py-1 px-2 border rounded-2">
                            Register
                        </a>
                    }

                </div>
            </div>
        </nav>
    </div>







    <div class="text-center">
        <div class="row" style="justify-content: center;">
            <div class="col-1 d-flex whole_line">
                <div class="ico_wraper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 11">
                        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </div>
                <div class="line_up"></div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
                <div class="line_mid"></div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
                <div class="line_down"></div>
                <div class="ico_wraper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 5 16 16">
                        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                    </svg>
                </div>
            </div>


            <div class="col-9">
                <div class="row">
                    <div class="main_header_container">
                        <p class="main_big_header">Freelance for student</p>
                        <p class="main_medium_header">Fast. Easy. Сlever. Way to start your IT career</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content_block">
                        <p class="block_header2" style="align-self: flex-end;">Take your chance</p>
                        <p class="block_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="content_block">
                        <p class="block_header">Get started</p>
                        <p class="block_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <button type="button" class="btn btn-success block_btn" style="margin-top: 10px;">Registration</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</html>